{% extends 'base.html'%}

{% block content %}


        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Scheme</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <form class="needs-validation"  action="{% url 'inventory:scheme' %}" method="POST" onsubmit="return validate()">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="form-control" id="scheme" name="scheme">
                                        <option value="{{scheme.options}}">{{scheme.options}}</option>
                                        
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label" for="name">Name<span style="color:red">*</span></label>
                                        <input type="text" class="form-control" id="name" autocomplete="off" name="name" value="{{scheme.name}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                </div><!-- end row -->
                                <div class="col-md-4">
                                    <button style="float: right;" class="btn btn-primary" type="submit" >Submit form</button>
                                </div><!-- end row -->
                            </div><!-- end row -->
                        </form><!-- end form -->
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div> <!-- end col -->
            <!-- end col -->
        </div><!-- end row -->
        
{% endblock %}

{% block scripts %}

<script>
    function scheme() {
        if (this.value == '4') {
            document.getElementById("type4").style.display = 'block';
            document.getElementById("type3").style.display = 'none';
            document.getElementById("type2").style.display = 'none';
            document.getElementById("type1").style.display = 'none';
        } else if (this.value == '3') {
            document.getElementById("type3").style.display = 'block';
            document.getElementById("type4").style.display = 'none';
            document.getElementById("type2").style.display = 'none';
            document.getElementById("type1").style.display = 'none';
        } else if (this.value == '2') {
            document.getElementById("type2").style.display = 'block';
            document.getElementById("type4").style.display = 'none';
            document.getElementById("type3").style.display = 'none';
            document.getElementById("type1").style.display = 'none';
        } else {
            document.getElementById("type1").style.display = 'block';
            document.getElementById("type4").style.display = 'none';
            document.getElementById("type3").style.display = 'none';
            document.getElementById("type2").style.display = 'none';
        }
    }
    document.getElementById("scheme").onchange = scheme;
</script>

{% endblock %}