{% extends 'base.html'%}

{% block content %}


        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Price List</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <form class="needs-validation"  action="{% url 'inventory:edit_pricelist' pricelists.pk %}" method="POST" onsubmit="return validate()">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="under">Price Level<span style="color:red">*</span></label>
                                        <input type="text" class="form-control" autocomplete="off" name="under" value="{{pricelists.price_level}}" required readonly>    
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="mb-3">
                                        <label class="form-label" for="under">Product<span style="color:red">*</span></label>
                                        <input type="text" class="form-control" autocomplete="off" name="item" value="{{pricelists.product}}" required readonly>
                                       
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label" for="name">Rate<span style="color:red">*</span></label>
                                        <input type="number" class="form-control" autocomplete="off" name="rate" value="{{pricelists.rate}}" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label" for="name">Applicable From<span style="color:red">*</span></label>
                                        <input type="date" class="form-control" autocomplete="off" name="date"required value="{{pricelists.applicable_from|date:'Y-m-d'}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                </div><!-- end row -->
                                <div class="col-md-4">
                                    <button style="float: right;"class="btn btn-primary" type="submit" >Submit form</button>
                                </div><!-- end row -->
                            </div><!-- end row -->
                        </form><!-- end form -->
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div> <!-- end col -->
            <!-- end col -->
        </div><!-- end row -->
        
{% endblock %}