{% extends 'base.html' %}
{% load static %}{% load perms %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Inter Vendor Transfer: Purchase</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Tansactions </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'warehouse:transfers' %}"> Transfers </a> </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'inventory:ivt' %}">Inter Vendor Transfer</a> </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page"> <a href="">IVT Purchase</a> </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="mb-0"><span class="fw-bold">IVT: </span>{{pi.rso_no}}</h4>
                <div class="page-title-right">
                    <h4><span class="fw-bold">Date: </span>{{pi.rso_date|date:'d-m-Y'}}</h4>
                </div>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'inventory:edit_ivt' pi.id %}" onsubmit="return validate()" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="mb-2">
                                <label for="party_name" class="form-label">Bill To</label>
                                <input type="text" class="form-control" id="party_name" autocomplete="off" name="party_name" placeholder="Name" value="{{pi.buyer}}" readonly>
                            </div>
                            <div class="mb-2">
                                <input type="text"
                                        class="form-control"
                                        id="party_address_type"
                                        placeholder="Address Type"
                                        autocomplete="off" name="party_address_type"
                                        value="{{pi.buyer_address_type}}"
                                        readonly>
                            </div>
                            <div class="mb-2">
                                <textarea type="textfield"
                                            class="form-control"
                                            id="party_address"
                                            autocomplete="off" name="party_address"
                                            placeholder="Address"
                                            readonly>
{{pi.buyer_address1}}
{{pi.buyer_address2}}
{{pi.buyer_address3}}
                                        </textarea>
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" id="party_gstin" placeholder="GSTIN" autocomplete="off" name="party_gstin" value="{{pi.buyer_gstin}}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <input class="form-control" type="file" id="excel_file">
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="card" style="padding:0">
                            <div class="card-body" style="padding: 0;">
                                <div class="table-responsive">
                                    <table class="table mb-0" id="table">
                                        <thead class="table-light" style="border-style:none">
                                            <tr>
                                                <th width="40">#</th>
                                                <th width="10%">SKU Code</th>
                                                <th>SKU Name</th>
                                                <th width="8%">Mrp</th>
                                                <th width="8%">Pack</th>
                                                <th width="10%">ActualQty</th>
                                                <th width="10%">Rate</th>
                                                <th width="12%">Amount</th>
                                                <th width="5%"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody" >
                                            <tr>
                                                {% for item in items %}
                                                <th scope="row" class="datarow">{{forloop.counter}}</th>
                                                <td>
                                                    <!-- <input type="text" class="form-control" id="product_code_{{forloop.counter}}" value="{{item.item}}" autocomplete="off" name="product_code" list="pitems" autocomplete="off" pattern="{% for item in items %}{{ item.product_code }}|{% endfor %}" required> -->
                                                    <select class="js-example-basic-single" class="form-control" id="product_code_{{forloop.counter}}" name="product_code" required>
                                                        <option></option>
                                                        {% for item in items %}
                                                        <option value="{{ item.product_code }}">{{ item.product_code }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" id="name_of_item_{{forloop.counter}}" value="{{item.item.product_name}}"  autocomplete="off" name="name_of_item" list="items" readonly>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control text-right" id="mrp_{{forloop.counter}}" autocomplete="off" name="mrp" readonly value="{{item.item.mrp}}">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control text-right" id="inner_{{forloop.counter}}" autocomplete="off" name="inner" value="{{item.item.outer_qty}}" readonly value="0">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control text-right" id="actualqty_{{forloop.counter}}" autocomplete="off" name="aqty" value="{{item.rso_qty}}" required>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control text-right" id="rate_{{forloop.counter}}" autocomplete="off" name="rate" value="{{item.rate}}" required>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control text-right" id="ammount_{{forloop.counter}}" autocomplete="off" name="ammount" value="{{item.amount}}" readonly>
                                                </td>
                                                <td class="d-none">
                                                    <input type="text" class="form-control text-right" id="cgstrate_{{forloop.counter}}" value="{{item.cgstrate}}" autocomplete="off" name="cgstrate" readonly>
                                                </td>
                                                <td class="d-none">
                                                    <input type="text" class="form-control text-right" id="sgstrate_{{forloop.counter}}" value="{{item.sgstrate}}" autocomplete="off" name="sgstrate" readonly>
                                                </td>
                                                <td class="d-none">
                                                    <input type="text" class="form-control text-right" id="igstrate_{{forloop.counter}}" autocomplete="off" name="igstrate" value="{{item.igstrate}}" readonly>
                                                </td>
                                                <td class="d-none">
                                                    <input type="text" class="form-control text-right" id="cgst_{{forloop.counter}}" autocomplete="off" name="cgst" value="{{item.cgst}}" readonly>
                                                </td>
                                                <td class="d-none">
                                                    <input type="text" class="form-control text-right" id="sgst_{{forloop.counter}}" autocomplete="off" name="sgst" value="{{item.sgst}}" readonly>
                                                </td>
                                                <td class="d-none">
                                                    <input type="text" class="form-control text-right" id="igst_{{forloop.counter}}" autocomplete="off" name="igst" value="{{item.igst}}" readonly>
                                                </td>
                                                <td class="align-middle">
                                                    <button type="button" style="padding: 0.10rem 0.50rem;" class="deleteitem btn btn-danger"
                                                        hx-get="{% url 'dash:clear' %}" hx-swap="outerHTML"
                                                        hx-confirm="Are you sure you wish to delete this item?"
                                                        hx-target="closest tr">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td class="align-middle">
                                                    <button type="button" style="padding: 0.10rem 0.50rem;" class="btn btn-success"
                                                        hx-get="{% url 'purchase:ivt-item' %}"
                                                        hx-swap="outerHTML" hx-target="closest tr"
                                                        hx-vals='{"no": "1"}'>
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                        <!-- end tbody-->
                                    </table>
                                    <!-- end table-->
                                </div>
                                <!-- end table responsive -->
                            </div>
                            <!-- end card body -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 pt-5 mt-5">
                            <div class="mt-5">
                                <label for="narration" class="form-label">
                                    Remarks
                                </label>
                                <input type="text" class="form-control" id="narration" autocomplete="off" name="narration">
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4 mb-4">
                        <div class="row align-items-end">
                                <div class="col">
                                    <label for="totalammount" class="form-label"> SubTotal </label>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control text-right" id="totalammount" autocomplete="off" name="totalammount" value="{{pi.ammount}}" readonly>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4">
                                <select class="form-control" id="other_ledger" name="other_ledger">
                                    <option value=''>Ledger</option>
                                    {% for i in ledgers %}
                                    <option value='{{i.pk}}'>{{i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xl-3">
                                <select class="form-control" id="other_ledger_per" name="ol_rate">
                                    <option value='0'>0 %</option>
                                    <option value='5'>5 %</option>
                                    <option value='12'>12 %</option>
                                    <option value='18'>18 %</option>
                                    <option value='28'>28 %</option>
                                </select>
                            </div>
                            <div class="col-xl-5">
                                <input type="text" class="form-control text-right" id="other" value='0' autocomplete="off" name="other">
                            </div>
                        </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="totalcgst" class="form-label"> CGST </label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-right" id="totalcgst" autocomplete="off" name="totalcgst" readonly>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="totalsgst" class="form-label"> SGST </label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-right" id="totalsgst" autocomplete="off" name="totalsgst" readonly>
                                </div>
                            </div>
                                                                <div class="row align-items-end">
                                <div class="col">
                                    <label for="totaligst" class="form-label"> IGST </label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-right" id="totaligst" autocomplete="off" name="totaligst" readonly>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="totaltcs" class="form-label"> TCS (in Rupees) </label>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control text-right" id="totaltcs" value='0' autocomplete="off" name="totaltcs">
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="total" class="form-label"> Total </label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-right" id="total" autocomplete="off" name="total" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                        </div>
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-primary w-sm ms-auto" id="btnsubmit" style="float:right;"> Submit </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end row -->
        </div>
    </div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script>
        {% comment %} $("#btnsubmit").click(function (e) {

            e.preventDefault();

            $('input[name="product_code"').each(function () {
                if (!$(this).val()) {
                    window.alert("Please Fill the Product Details first");
                    return false;
                }
                else {
                    $("#poform").submit();
                }
            });
        }); {% endcomment %}

    const excel_file = document.getElementById('excel_file');
    excel_file.addEventListener('change', (event) => {

        if (!['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'].includes(event.target.files[0].type)) {
            window.alert("Only .xlsx or .xls file format are allowed");

            excel_file.value = '';

            return false;
        }
        else {

            var reader = new FileReader();
            reader.readAsArrayBuffer(event.target.files[0]);

            reader.onload = function (event) {
                var data = new Uint8Array(reader.result);
                var work_book = XLSX.read(data, {
                    type: 'array'
                });
                var sheet_name = work_book.SheetNames;
                var sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], {
                    header: 1
                });
                for (var row = 1; row < sheet_data.length; row++) {
                    var data = { 'no': row }
                    for (var cell = 0; cell < sheet_data[row].length; cell++) {
                        var key = sheet_data[0][cell];
                        data[key] = sheet_data[row][cell];
                    }
                    $.ajax({
                        url: "{% url 'purchase:ajax_load_po_upload' %}",
                        async: false,
                        data: data,
                        success: function (data) {
                            $(".tbody:last").replaceWith(data);
                        },
                        error: function () {
                            window.alert("Error in" + row);
                        }
                    });
                }
                window.e()
            }
        }
    });

    $('#totaltcs').change(function () {
        var tcs = parseFloat($(this).val());
        var total = parseFloat($("#totaligst").val() || 0) + parseFloat($("#other").val() || 0) + parseFloat($("#totalammount").val() || 0) + tcs;
        $("#total").val(Math.round(total));
    });

    $("#other_ledger_per").change(totals);
    $('#other').change(totals);

    function totals() {
        var cgst = 0;
        var sgst = 0;
        var igst = 0;
        var ammount = 0;

        ($('[name="cgstrate"]').each(function (i, j) {
            cgst = cgst + parseFloat($(this).val() || 0);
        }));
        ($('[name="sgstrate"]').each(function (i, j) {
            sgst = sgst + parseFloat($(this).val() || 0);
        }));
        ($('[name="igstrate"]').each(function (i, j) {
            igst = igst + parseFloat($(this).val() || 0);
        }));
        ($('[name="ammount"]').each(function (i, j) {
            ammount = ammount + parseFloat($(this).val() || 0);
        }));
        var ogr     = parseFloat($("#other_ledger_per").val() || 0) / 200
        var tcs     = parseFloat($("#totaltcs").val() || 0);
        var other   = parseFloat(($("#other").val() || 0));
        var gst     = (parseFloat(cgst) + (other * ogr));
        $("#totalammount").val((parseFloat(ammount)).toFixed(2));
        $("#totalcgst").val((gst).toFixed(2));
        $("#totalsgst").val((gst).toFixed(2));
        $("#totaligst").val((gst*2).toFixed(2));

        var total   = Math.round(ammount + (gst*2) + tcs + other);
        $("#total").val(total);
    }

    $("table").on("change", e);

    function e() {

        var no = (e.arguments[0].target.id).split('_').pop()

        if ((e.arguments[0].target.id).split('_code_')[0] === 'product'){
            var item = $("#"+e.arguments[0].target.id+"").val();
            $.ajax({
                url: "{% url 'purchase:ajax_load_product_code' %}",
                data: {
                    'item': item,
                },
                success: function (data) {
                    data = data.split('|');
                    $("#name_of_item_"+ no + "").val(data[0]);
                    $("#inner_"+ no + "").val(data[1]);
                    $("#mrp_"+ no + "").val(data[2]);
                    $("#igst_"+ no + "").val(data[3]);
                    $("#cgst_"+ no + "").val(data[4]);
                    $("#sgst_"+ no + "").val(data[5]);
                },
                error: function () {
                    window.alert("Product Does Not Exist");
                    $("#product_code_"+e.arguments[0].target.id+"").val('');
                }
            });
        }

        var qty = parseFloat($("#actualqty_"+ no + "").val() || 0);
        var rate = parseFloat($("#rate_"+ no + "").val() || 0);
        var ammount = (qty * rate);
        $("#ammount_"+ no + "").val(ammount.toFixed(2));

        var cgst = parseFloat($("#cgst_"+ no + "").val() || 0);
        var sgst = parseFloat($("#sgst_"+ no + "").val() || 0);
        var igst = parseFloat($("#igst_"+ no + "").val() || 0);

        var cgstdata = ((ammount * cgst) / 100);
        var sgstdata = ((ammount * sgst) / 100);
        var igstdata = ((ammount * igst) / 100);

        $("#cgstrate_"+ no + "").val(cgstdata.toFixed(2));
        $("#sgstrate_"+ no + "").val(sgstdata.toFixed(2));
        $("#igstrate_"+ no + "").val(igstdata.toFixed(2));

        window.totals()
    }

    $("#party_address_type").change(function () {
        var address = $(this).val();
        var party = $("#party_name").val();
        $.ajax({
            url: "{% url 'purchase:ajax_load_party_address' %}",
            data: {
                'party': party,
                'address': address
            },
            success: function (data) {
                data = data.split("|");
                $("#party_address").html(data[0]);
                $("#party_gstin").val(data[1]);
            },
        });
    });
    $("#party_name").change(function () {
        var partyId = $(this).val();
        $.ajax({
            url: "{% url 'purchase:ajax_load_address' %}",
            data: {
                'party': partyId
            },
            success: function (data) {
                data = data.split("|");
                $("#party_address_type").html(data[0]);
                $("#party_address").html(data[1]);
                $("#party_gstin").val(data[2]);
                $("#price_list").val(data[3]);
            },
            error: function () {
                window.alert("Party Does Not Exist");
                $("#party_name").val('');
            }
        });
    });
</script>
{% endblock scripts %}