{% extends 'base.html' %}
{% load static %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Currency: View</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Masters </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'inventory:inventory' %}">Registration</a></li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'inventory:currency' %}"> Currency </a> </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page"> <a href="">View Currency </a> </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form class="needs-validation" action="{% url 'inventory:currency' %}" method="POST" >
                    {% csrf_token %}
                    <fieldset disabled>
                    <div class="row mx-0">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="name">Name<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="name" name="name" autocomplete="off" required value="{{curre.name}}" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="code">Code<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="code" name="code" autocomplete="off" required value="{{curre.code}}" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="symbol">Symbol<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="symbol" name="symbol" autocomplete="off" required value="{{curre.symbol}}" />
                            </div>
                        </div>
                    </div>
                    </fieldset>
                    <!-- end row -->
                    <input type="button" class="btn btn-danger" value="Go back!" onclick="history.back()">
                </form><!-- end form -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div> <!-- end col -->
    <!-- end col -->
</div>
{% endblock %}