{{grn.grn_no}}
|{{grn.inv_date|date:'d-m-Y'}}
|{{grn.buyer}}
|{{grn.buyer_address_type}}
|{{grn.buyer_address1}}
{{grn.buyer_address2}}
{{grn.buyer_address3}}
|{{grn.buyer_gstin}}
|{{grn.shipto}}
|{{grn.shipto_address_type}}
|{{grn.shipto_address1}}
{{grn.shipto_address2}}
{{grn.shipto_address3}}
|{{grn.shipto_gstin}}
|{{grn.mode_of_payment}}
|{{grn.other_reference}}
|{{grn.terms_of_delivery}}
|0
|0
|0
|0
|0
|0
|{{grn.narration}}
|{{grn.dispatch_through}}
|{{grn.destintaion}}
|0
|0
|{{grn.discount}}
{% for item in items %}
~|{{item.item}}
|{{item.item.product_name}}
|{{item.mrp}}
|{{item.pack}}
|{{item.nb_qty}}
|{{item.new_rate}}
|
|{{item.discount}}
|0
|{{item.igstrate|floatformat:'0'}}
|0
|0
|{{item.sgstrate}}
|{{item.cgstrate}}
|0
{% endfor %}