<tr hx-trigger='cancel' class='editing' hx-get="{% url 'sales:updatelr' inv.pk %}">
    <th scope="row">{{ forloop.counter }}</th>
    <td class="align-middle">{{ inv.inv_date|date:'d-m-Y' }}</td>
    <td class="align-middle">{{ inv.inv_no }}</td>
    <td class="align-middle">{{ inv.buyer }}</td>
    <td class="align-middle">{{ inv.total }}</td>
    <td class="align-middle">{{ inv.dn|default_if_none:''}}</td>
    <td class="align-middle">{{ inv.totalbox.total_box__sum|default_if_none:''}}</td>
    <td class="align-middle"><input name='lr_date' type="date" value="{{inv.lr_date|date:'Y-m-d'}}"></td>
    <td class="align-middle"><input name='lr_no' value='{{ inv.lr_no|default_if_none:""}}'></td>
    <td>
        <button class="btn btn-sm btn-danger btn-icon" hx-get="{% url 'sales:cancellr' inv.pk %}"> <i class="fas fa-trash"></i> </button>
    </td>
    <td>
        <button class="btn btn-sm btn-primary btn-icon" hx-post="{% url 'sales:updatelr' inv.pk %}" hx-include="closest tr"> <i class="fas fa-plus"></i> </button>
    </td>
</tr>