{{grn.grn.all.0.grn_no}}
|{{grn.pi_date|date:'d-m-Y'}}
|{{grn.seller}}
|{{grn.seller_address_type}}
|{{grn.seller_address1}}
{{grn.seller_address2}}
{{grn.seller_address3}}
|{{grn.seller_gstin}}
|{{grn.shipto}}
|{{grn.shipto_address_type}}
|{{grn.shipto_address1}}
{{grn.shipto_address2}}
{{grn.shipto_address3}}
|{{grn.shipto_gstin}}
|{{grn.mode_of_payment}}
|{{grn.other_reference}}
|{{grn.terms_of_delivery}}
|0
|0
|0
|0
|0
|0
|{{grn.narration}}
|{{grn.dispatch_through}}
|{{grn.destintaion}}
|0
|0
|{{grn.currency}}
|{{grn.ex_rate}}
{% for item in items %}
~|{{item.product_code}}
|{{item.item__product_name}}
|{{item.mrp}}
|{{item.pack}}
|{{item.recd_qty}}
|{{item.damage|default_if_none:0}}
|0
|{{item.rate}}
|0
|{{item.igstrate|floatformat:'0'}}
|0
|0
|{{item.sgstrate}}
|{{item.cgstrate}}
|0
{% endfor %}