value="{{dn.dn_no}}"
value="{{dn.sales_order}}"
value="{{dn.buyer_name}}"
value="{{dn.buyer_address_type}}"
value="{{dn.buyer_address}}"
value="{{dn.buyer_gstin}}"
value="{{dn.shipto_name}}"
value="{{dn.shipto_address_type}}"
value="{{dn.shipto_address}}"
value="{{dn.shipto_gstin}}"
value="{{dn.dispatch_doc_no}}"
value="{{dn.dispatch_through}}"
value="{{dn.destintaion}}"
value="{{dn.carrier_agent}}"
value="{{dn.lr_no}}"
value="{{dn.lr_date}}"
value="{{dn.vehical_no}}"
value="{{dn.dn_due_date}}"
value="{{dn.sales_order.price_list}}"
value="{{dn.sales_order.mode_of_payment}}"
value="{{dn.sales_order.other_reference}}"
value="{{dn.sales_order.terms_of_delivery}}"
value="{{dn.sales_order.isscheme}}"
value="{{item.product_code}}"
value="{{item.item}}"
value="{{item.batch_name}}"
value="{{item.offer_price}}"
value="{{item.pack}}"
value="{{item.available_qty}}"
value="{{item.actual_qty}}"
value="{{item.billed_qty}}"
value="{{item.free_qty}}"
value="{{item.rate}}"
value="{{item.discount}}"
value="{{item.amount}}"
value="{{item.godown}}"
value="{{dn.ammount}}"
value="{{dn.cgst}}"
value="{{dn.sgst}}"
value="{{dn.igst}}"
value="{{dn.tcs}}"
value="{{dn.round_off}}"
value="{{dn.narration}}"