{% extends 'base.html' %}
{% load static %}{% load perms %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Loading Sheet</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Tansactions </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'warehouse:warehouse' %}">warehouse</a> </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page"> <a href="">Loading Sheet</a> </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="card-header justify-content-between d-flex align-items-center">
            <h4 class="card-title">Delivery Notes</h4>
            <form method='GET' action='{% url "sales:ls" %}'>
                <div class="d-flex flex-row justify-content-between">
                    <div class="mx-1">
                        <input class="form-control" type="text" name="q" autocomplete="off" placeholder="Search">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            {% comment %} <a href="{% url 'sales:adddn' %}">
                <button type="button" class="btn btn-success">
                    <i class="uil uil-ban">Create</i>
                </button>
            </a> {% endcomment %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <form action="{% url 'sales:lspdf' %}" method="POST" onsubmit="return validate()">
                {% csrf_token %}
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th width="15">#</th>
                            <th width="100">Date</th>
                            <th width="120">DN Number</th>
                            <th>Party Name</th>
                            <th width="120">Amount</th>
                            <th width="100">DN Status</th>
                            <th width="250">Loading Sheet Status</th>
                            <th width="100">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load humanize %}
                        {% for dn in dns %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td> {{dn.dn_date|date:"d-m-Y"}}</td>
                            <td> {{dn.dn_no}}</td>
                            <td> {{dn.buyer}}</td>
                            <td> {{dn.total|intcomma}}</td>
                            <td> {{dn.get_status_display}}</td>
                            <td> {% if dn.ls_status %} Printed {% endif %}</td>
                            <td> <input value="{{dn.pk}}" type="checkbox" name="ls"></td>
                        </tr>
                        {% endfor %}
                    </tbody><!-- end tbody-->
                </table><!-- end table-->
                {% if is_paginated %}
                    {% load proper_paginate %}
                    {% load url_replace %}
                    <nav aria-label="Page navigation example" class="mt-3">
                        <ul class="pagination">
                            {% if page_obj.number == 1 %}
                            <li class="disabled page-item">
                                <span class="page-link">First</span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace request 'page' 1 %}">First</a>
                            </li>
                            {% endif %}
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="disabled page-item">
                                <span class="page-link">&laquo;</span>
                            </li>
                            {% endif %}
                            {% for i in paginator|proper_paginate:page_obj.number %}
                            {% if page_obj.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                            {% endif %}
                            {% if page_obj.number == paginator.num_pages %}
                            <li class="page-item disabled">
                                <span class="page-link">Last</span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?{% url_replace request 'page' paginator.num_pages %}">Last</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                <input class="btn btn-primary mt-2" type="submit" value="Submit" style="float:right;" >
            </form>
            </div><!-- end table responsive -->
        </div><!-- end card body -->
    </div>
{% endblock %}

{% block scripts %}
<script>
    var today = new Date();
    var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();

    document.getElementById("so_date").innerHTML = date;

    $("#so_no").change(function () {
        var so_no = $(this).val();
        $.ajax({
			url: "{% url 'sales:ajax_load_so_details' %}",
			data: {
				'sono': so_no,
			},
			success: function (data) {
				data = data.split("~");
                so = data[0].split("|");

                $("#sono").val(so[0])
                $("#so_date").val(so[1])
                $("#party_name").val(so[2])
                $("#party_address_type").val(so[3])
                $("#party_address").val(so[4])
                $("#party_gstin").val(so[5])
                $("#consignee_name").val(so[6])
                $("#consignee_address_type").val(so[7])
                $("#consignee_address").val(so[8])
                $("#consignee_gstin").val(so[9])
                $("#price_list").val(so[10])
                $("#mode_of_payment").val(so[11])
                $("#other_reference").val(so[12])
                $("#terms_of_delivery").val(so[13])
                $("#totalcgst").val(so[14])
                $("#totalsgst").val(so[15])
                $("#totaligst").val(so[16])
                $("#totaltcs").val(so[17])
                $("#other").val(so[18])
                $("#round_off").val(so[19])
                $("#narration").val(so[20])
                $("#isscheme").val(so[21])
                $("#totalammount").val(so[22])
                var table = $("#table")
                $("tbody").remove();
                var tbody = document.createElement('tbody');
                table.append(tbody);
                for(i=1;i<data.length;i++)
                {
                    var item = data[i].split("|");
                    row = $(tbody.insertRow(-1));

                    var cell = $("<td />");
                    cell.html(i);
                    row.append(cell);

                    for(j=1;j<item.length-1;j++){
                        var cell = $("<td />");
                        var input = $("<input />").attr('class','form-control').attr('readonly', true);
                        input.val(item[j]);
                        cell.append(input);
                        row.append(cell);
                    }
                    var cell = $("<td />");
                    cell.html(item.pop());
                    row.append(cell);

	    		}
		}});
    });

</script>
{% endblock %}