{% extends 'base.html' %}
{% load static %}{% load perms %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Sales Order</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Tansactions </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'sales:sales' %}"> Sales </a> </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page"> <a href=""> Sales Order </a> </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="card-header justify-content-between d-flex align-items-center">
            <h4 class="card-title">Sales Orders</h4>
            <form method='GET' action='{% url "sales:so" %}'>
                <div class="d-flex flex-row justify-content-between">
                    <div class="mx-1">
                        <input class="form-control" type="text" name="q" autocomplete="off" placeholder="Search">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <a href="{% url 'sales:addso' %}">
                <button type="button" class="btn btn-success">
                    <i class="uil uil-ban">Create</i>
                </button>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center"  width="50">#</th>
                            <th class="text-center"  width="100">Date</th>
                            <th class="text-center"  width="120">SO Number</th>
                            <th >Party Name</th>
                            <th >Consignee Name</th>
                            <th class="text-center"  width="120">Reference</th>
                            <th class="text-center"  width="100">Amount</th>
                            <th class="text-center"  width="100">DN Number</th>
                            <th class="text-center"  width="80">Status</th>
                            <th class="text-center"  width="35"></th>
                            <th class="text-center"  width="35"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load humanize %}
                        {% for so in sos %}
                            <tr>
                                <th class="text-right">{{ page_obj.start_index|add:forloop.counter0 }}</th>
                                <td class="align-middle text-center">{{ so.so_date|date:'d-m-Y'}}</td>
                                <td class="align-middle text-center">{{ so.so_no }}</td>
                                <td class="align-middle">{{ so.buyer }}</td>
                                <td class="align-middle">{{ so.shipto }}</td>
                                <td class="align-middle">{{ so.order_no }}</td>
                                <td class="align-middle text-right pr-2">{{ so.total|floatformat:'0'|intcomma }}</td>
                                <td class="align-middle text-center">{{ so.dn }}</td>
                                <td class="align-middle text-center">{{ so.get_status_display }}</td>
                                <td class="align-middle text-center">
                                    {% if so.status == '1'  %}
                                        <a href="{% url 'sales:editso' so.pk %}">
                                            <button type="button" class="btn btn-success btn-sm btn-icon">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center">
                                    <a href="{% url 'sales:sopdf' so.pk %}">
                                        <button type="button" class="btn btn-dark btn-sm btn-icon">
                                            <i class="fas fa-print"></i>
                                        </button>
                                    </a>
                                </td>
                                <td class="align-middle text-center">
                                    <a href="{% url 'sales:showso' so.pk %}">
                                        <button type="button" class="btn btn-primary btn-sm btn-icon">
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </a>
                                </td>
                                <td class="align-middle">
                                    {% if request.user|has_group:"Admin,Sales Order Email" %}
                                    <a href="#myModal" class="trigger-btn" data-toggle="modal" data-id="{{so.buyer.email_id}}" data-id2="{{so.buyer.cc_email}}" data-id3="{% url 'sales:mailso' so.pk %}">
                                        <button type="button" class="btn btn-warning btn-sm btn-icon"> <i class="fas fa-envelope"></i> </button>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <!-- end tbody-->
                </table>
                {% if is_paginated %}
                    {% load proper_paginate %}
                    {% load url_replace %}
                    <nav aria-label="Page navigation example" class="mt-3">
                        <ul class="pagination">
                            {% if page_obj.number == 1 %}
                            <li class="disabled page-item">
                                <span class="page-link">First</span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace request 'page' 1 %}">First</a>
                            </li>
                            {% endif %}
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="disabled page-item">
                                <span class="page-link">&laquo;</span>
                            </li>
                            {% endif %}
                            {% for i in paginator|proper_paginate:page_obj.number %}
                            {% if page_obj.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                            {% endif %}
                            {% if page_obj.number == paginator.num_pages %}
                            <li class="page-item disabled">
                                <span class="page-link">Last</span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?{% url_replace request 'page' paginator.num_pages %}">Last</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                <!-- end table-->
            </div>
            <!-- end table responsive -->
        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->
</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to Send these records? This process cannot be undone.</p>
                <p>Email ID: <span id="bookId"/></p>
                <p>Email CC: <span id="bookId2"/></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" id="sendmail" class="btn btn-danger">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).on("click", ".trigger-btn", function () {
            $(".modal-body #bookId").text($(this).data('id'));
            $(".modal-body #bookId2").text($(this).data('id2'));
            var abcd = $(this).data("id3");
            if (abcd) {
                $(".modal-footer #sendmail").attr("onclick", abcd);
            }
        });

        $('#sendmail').click(function(ev) {
            window.location.href = ev.target.attributes.onclick.value;
        });
    </script>
{% endblock %}
