{% extends 'base.html' %}
{% load static %}{% load perms %}
{% load mathops %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Goods Recieved Note: Edit</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Tansactions </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'warehouse:warehouse' %}">warehouse</a> </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'purchase:grn' %}">Goods Recieved Notes</a> </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page"> <a href="">Edit GRN </a> </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="mb-0"><span class="fw-bold">GRN: </span>{{ grn.grn_no }}</h4>
                <div class="row">
                    <div class="col-xl-4">
                        <label for="currency" class="form-label">Currency</label>
                        <input type="text" class="form-control" id="currency" readonly name="currency" value="{{ grn.currency }}">
                    </div>
                    <div class="col-xl-4">
                        <label for="currency" class="form-label">Exchange Rate<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="exchangerate" required name="exchangerate" value="{{ grn.ex_rate }}">
                    </div>
                </div>
                <div class="page-title-right">
                    <h4><span class="fw-bold">Date: </span>{{grn.grn_date|date:"d-m-Y"}}</h4>
                </div>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'purchase:editgrn' grn.pk %}" class="needs-validation" onsubmit="return validate()">
                    {% csrf_token %}
                    <div class="row mx-0">
                        <div class="col-xl-3">
                            <div class="mb-2 row">
                                <label for="po_no" class="col-md-4 col-form-label">PO NO</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="po_no" name="po_no" value="{{ grn.po }}">
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-lg-3">
                            <div class="mb-2">
                                <label for="party_name" class="form-label">Seller Details</label>
                                <input type="text" class="form-control" id="party_name" name="party_name" value="{{ grn.seller }}" placeholder="Name" readonly>
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" id="party_address_type" value="{{ grn.seller_address_type }}" placeholder="Address Type" name="party_address_type" readonly>
                            </div>
                            <div class="mb-2">
                                <textarea type="textfield" class="form-control" id="party_address" name="party_address" placeholder="Address" readonly>
{{ grn.seller_address1 }},
{{ grn.seller_address2 }},
{{ grn.seller_address3 }},
                                </textarea>
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" id="party_gstin" placeholder="GSTIN" value="{{ grn.seller_gstin }}" name="party_gstin" readonly>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-2">
                                <label for="consignee_name" class="form-label">Ship To</label>
                                <input type="text" class="form-control" id="consignee_name" value="{{ grn.shipto }}" placeholder="Name" name="consignee_name" readonly>
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" id="consignee_address_type" value="{{ grn.shipto_address_type }}" placeholder="Address Type" name="consignee_address_type" readonly>
                            </div>
                            <div class="mb-2">
                                <textarea type="textfield" class="form-control" id="consignee_address" value="{{grn.shipto_address1}}" name="consignee_address" readonly>
{{grn.shipto_address1}},
{{grn.shipto_address2}},
{{grn.shipto_address3}},
                                </textarea>
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" id="consignee_gstin" value="{{ grn.shipto_gstin }}" placeholder="GSTIN" name="consignee_gstin" readonly>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row mb-2">
                                <div class="col-lg-4">
                                    <label for="dispatch_through" class="form-label">Dispatch Through</label>
                                </div>
                                <div class="col">
                                    <select class="form-control" id="dispatch_through" name="dispatch_through">
                                        <option value="{{ grn.dispatch_through }}"> {{ grn.get__dispatch_through }} </option>
                                        <option value="1"> Road </option>
                                        <option value="2"> Rail </option>
                                        <option value="3"> Air </option>
                                        <option value="4"> Ship </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-4">
                                    <label for="destination" class="form-label">
                                        Destination
                                    </label >
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="destination" readonly value="{{ grn.destintaion }}" name="destination">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row mb-2">
                                <div class="col-lg-4">
                                    <label for="mode_of_payment" class="form-label">
                                        Mode of payment
                                    </label >
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="mode_of_payment" readonly value="{{ grn.mode_of_payment }}" name="mode_of_payment">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-4">
                                    <label for="other_reference" class="form-label">Other Reference</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="other_reference" readonly value="{{ grn.other_reference }}" name="other_reference">
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="row mb-2">
                                <div class="col-lg-4">
                                    <label for="terms_of_delivery" class="form-label">Terms of delivery</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="terms_of_delivery" readonly value="{{ grn.terms_of_delivery }}" name="terms_of_delivery">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 p-2">
                        <div class="card w-100">
                            <div class="card-body" style="padding: 0;">
                                <div class="table-responsive">
                                    <table class="table mb-0" id="table">
                                        <thead class="table-light">
                                            <tr>
                                                <th width="15">#</th>
                                                <th>SKU Code</th>
                                                <th>SKU Name</th>
                                                <th>Pack</th>
                                                <th>Batch</th>
                                                <th>Mrp</th>
                                                <th>PO Qty</th>
                                                <th>Recieved Qty</th>
                                                <th>Rate</th>
                                                <th>Ammount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            {% for item in items %}
                                                <tr>
                                                    <th class="align-middle" scope="row">{{forloop.counter}}</th>
                                                    <td>
                                                        <input type="text" class="form-control" id="product_code{{forloop.counter}}" readonly value="{{ item.product_code }}" name="product_code">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="name_of_item{{forloop.counter}}" readonly value="{{ item.item }}" name="name_of_item">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" id="inner{{forloop.counter}}" value="{{ item.pack }}" name="inner" readonly>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" id="batch{{forloop.counter}}" value="{{ item.batch }}" name="batch" readonly>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" id="mrp{{forloop.counter}}" value="{{ item.mrp }}" name="mrp" readonly>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" id="actualqty{{forloop.counter}}" value="{{ item.actual_qty|addition:item.recd_qty }}" name="stock" readonly>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" id="recd_qty{{forloop.counter}}" value="{{ item.recd_qty }}" name="actualqty">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" id="rate{{forloop.counter}}" readonly value="{{ item.rate }}" name="rate">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" id="ammount{{forloop.counter}}" readonly value="{{ item.amount }}" name="ammount">
                                                    </td>
                                                    <td class="d-none">
                                                        <input type="text" class="form-control text-right" id="cgstrate{{forloop.counter}}" value="{{item.cgstrate}}" name="cgstrate" readonly>
                                                    </td>
                                                    <td class="d-none">
                                                        <input type="text" class="form-control text-right" id="sgstrate{{forloop.counter}}" value="{{item.sgstrate}}" name="sgstrate" readonly>
                                                    </td>
                                                    <td class="d-none">
                                                        <input type="text" class="form-control text-right" id="igstrate{{forloop.counter}}" value="{{item.igstrate}}" name="igstrate" readonly>
                                                    </td>
                                                    <td class="d-none">
                                                        <input type="text" class="form-control text-right" id="cgst{{forloop.counter}}" value="{{item.cgst}}" name="cgst" readonly>
                                                    </td>
                                                    <td class="d-none">
                                                        <input type="text" class="form-control text-right" id="sgst{{forloop.counter}}" value="{{item.sgst}}" name="sgst" readonly>
                                                    </td>
                                                    <td class="d-none">
                                                        <input type="text" class="form-control text-right" id="igst{{forloop.counter}}" value="{{item.igst}}" name="igst" readonly>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <!-- end tbody-->
                                    </table>
                                    <!-- end table-->
                                </div>
                                <!-- end table responsive -->
                            </div>
                            <!-- end card body -->
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-lg-9">
                        </div>
                        <div class="col-lg-3">
                            <!-- end col -->
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="cgst" class="form-label">
                                        SubTotal
                                    </label>
                                </div>
                                <div class="col">
                                    <input type="text"
                                            class="form-control text-right"
                                            id="totalammount"
                                            name="totalammount"
                                            value="{{grn.ammount}}"
                                            readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4">
                                    <select class="form-control text-right" id="other_ledger" name="other_ledger">
                                        <option value=''>Ledger</option>
                                        {% for i in ledgers %}
                                        <option value='{{i.pk}}'>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-3">
                                    <select class="form-control" id="other_ledger_per" name="ol_rate">
                                        <option value='0'>0 %</option>
                                        <option value='5'>5 %</option>
                                        <option value='12'>12 %</option>
                                        <option value='18'>18 %</option>
                                        <option value='28'>28 %</option>
                                    </select>
                                </div>
                                <div class="col-xl-5">
                                    <input type="text" class="form-control text-right" id="other" value='0' name="other">
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="totalcgst" class="form-label">
                                        CGST
                                    </label>
                                </div>
                                <div class="col">
                                    <input type="text"
                                            class="form-control text-right"
                                            id="totalcgst"
                                            name="totalcgst"
                                            value="{{grn.cgst}}"
                                            readonly>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="totalsgst" class="form-label">
                                        SGST
                                    </label>
                                </div>
                                <div class="col">
                                    <input type="text"
                                            class="form-control text-right"
                                            id="totalsgst"
                                            name="totalsgst"
                                            value="{{grn.sgst}}"
                                            readonly>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="totaligst" class="form-label">
                                        IGST
                                    </label>
                                </div>
                                <div class="col">
                                    <input type="text"
                                            class="form-control text-right"
                                            id="totaligst"
                                            name="totaligst"
                                            value="{{grn.igst}}"
                                            readonly>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="tcs" class="form-label">
                                        TCS
                                    </label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-right" id="tcs" name="totaltcs" value="{{grn.tcs}}">
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col">
                                    <label for="round_off" class="form-label">
                                        Total
                                    </label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-right" id="round_off" name="round_off" value="{{grn.total}}" readonly>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <label for="narration" class="form-label">
                                    Remarks
                                </label>
                                <input type="text" class="form-control" id="narration" name="narration">
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <button type="submit" class="btn btn-primary w-sm ms-auto"  style="position: absolute; right: 20px; bottom: 20px;"> Submit </button>
                </form>
            </div>
            <!-- end row -->
        </div>
        <!-- end card body -->
    </div>

{% endblock %}
{% block scripts %}
    <script>

        $("#other_ledger_per").change(totals);
        $('#other').change(totals);
        $('#tcs').change(totals);

        function totals() {
            var cgst = 0;
            var sgst = 0;
            var igst = 0;
            var ammount = 0;

            ($('[name="cgst"]').each(function (i, j) {
                cgst = cgst + parseFloat($(this).val() || 0);
            }));
            ($('[name="sgst"]').each(function (i, j) {
                sgst = sgst + parseFloat($(this).val() || 0);
            }));
            ($('[name="igst"]').each(function (i, j) {
                igst = igst + parseFloat($(this).val() || 0);
            }));
            ($('[name="ammount"]').each(function (i, j) {
                ammount = ammount + parseFloat($(this).val() || 0);
            }));
            var ogr     = parseFloat($("#other_ledger_per").val() || 0) / 200
            var tcs     = parseFloat($("#tcs").val() || 0);
            var other   = parseFloat(($("#other").val() || 0));
            var gst     = (parseFloat(cgst) + (other * ogr));
            $("#totalammount").val((parseFloat(ammount)).toFixed(2));
            $("#totalcgst").val((gst).toFixed(2));
            $("#totalsgst").val((gst).toFixed(2));
            $("#totaligst").val((gst*2).toFixed(2));

            var total   = Math.round(ammount + (gst*2) + tcs + other);
            $("#round_off").val(total);
        }

        $("table").on("change", e);
        function e() {

            var no = e.arguments[0].target.id.split('qty')[1]
            var qty = parseFloat($("#"+ e.arguments[0].target.id+ "").val());
            var poqty = parseFloat($("#actualqty"+ no + "").val());
            if (poqty < qty){
                qty = 0;
                $("#"+ e.arguments[0].target.id + "").val(0);
                alert("Recieved Qty Can not be greater than Total Qty");
            }
            var rate = parseFloat($("#rate"+ no + "").val());
            var data = (qty * rate);
            $("#ammount"+ no + "").val(data.toFixed(2));

            var cgst = parseFloat($("#cgstrate"+ no + "").val());
            var sgst = parseFloat($("#sgstrate"+ no + "").val());
            var igst = parseFloat($("#igstrate"+ no + "").val());

            var ammount = $("#ammount"+ no + "").val();

            var cgstdata = ((ammount * cgst) / 100);
            var sgstdata = ((ammount * sgst) / 100);
            var igstdata = ((ammount * igst) / 100);

            $("#cgst"+ no + "").val(cgstdata.toFixed(2));
            $("#sgst"+ no + "").val(sgstdata.toFixed(2));
            $("#igst"+ no + "").val(igstdata.toFixed(2));

            window.totals()
        }
    </script>
{% endblock %}
