{% extends 'base.html' %}
{% load static %}{% load perms %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>City: Edit</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Masters </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'ledgers:ledgers' %}"> Registration </a> </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'ledgers:city' %}"> City </a> </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page"> <a href=""> Edit City </a> </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form class="needs-validation"  action="{% url 'ledgers:edit_city' city.pk %}" method="POST" onsubmit="return validate()">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="under">State</label>
                                <!-- <input name="under" id="under" list="brands" class="form-control" value="{{city.state}}"
                                    pattern="{% for brand in states %}{{brand.name}}|{% endfor %}"> -->
                                <select class="js-example-basic-single" class="form-control" id="under" name="under" required>
                                    {% for brand in states %}
                                    {% if city.state == brand.name %}
                                        <option value="{{brand.pk}}" selected>{{brand.name}}</option>
                                    {% else %}
                                        <option value="{{brand.pk}}">{{brand.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="name">Name<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="name" name="name" required value="{{city.name}}">
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center justify-content-end">
                            <button class="btn btn-primary" type="submit" >Submit</button>
                        </div>
                    </div><!-- end row -->
                </form><!-- end form -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div> <!-- end col -->
    <!-- end col -->
</div>

{% endblock %}