{% extends 'base.html' %}
{% load static %}{% load perms %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Shortage and Damage Transfer</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Tansactions </li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'warehouse:transfers' %}"> Transfers </a> </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page"> <a href="">Shortage and Damage Transfer</a> </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Shortage and Damage Transfer</h4>
                <a href="{% url 'sales:addps' %}">
                    <button type="button" class="btn btn-success">
                        <i class="uil uil-ban">Create</i>
                    </button>
                </a>
            </div>
            <div class="card-body">
                <form class="needs-validation" action="{% url 'warehouse:shortage' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="purchase">GRN No</label>
<!--                                 <input type="text" list="purchases" class="form-control" id="purchase" name="purchase" autocapitalize="on" autocomplete="off" pattern="{% for brand in purchase %}{{ brand.grn_no }}|{% endfor %}"> -->
                                <select class="js-example-basic-single" class="form-control" id="purchase" name="purchase" required>
                                    <option></option>
                                    {% for brand in purchase %}<option value="{{ brand.grn_no }}">{{ brand.grn_no }}</option>{% endfor %}
                                    {% for brand in jobs %}<option value="{{ brand.no }}">{{ brand.no }}</option>{% endfor %}
                                    <option value="Warehouse">Warehouse</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="godown">Godown<span style="color:red">*</span></label>
                                <!-- <input type="text" list="brands" class="form-control" id="godown" name="godown" autocapitalize="on" autocomplete="off" required pattern="{% for brand in godowns %}{{ brand.name }}|{% endfor %}"> -->
                                <select class="js-example-basic-single" class="form-control" id="godown" name="godown" required>
                                    <option></option>
                                    {% for brand in godowns %}<option value="{{ brand.name }}">{{ brand.name }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="name">Product</label>
                                <select class="form-control js-example-basic-single" list="pds" id="products" name="product" autocomplete="off">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="name">Available Quantity</label>
                                <input type="text" class="form-control" id="quantity" readonly>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="tgt">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label" for="sqty">Shortage Qty<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="sqty" name="sqty" value="0">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="s_remark">Remarks<span style="color:red">*</span></label>
                                    <textarea cols="50" rows="2" class="form-control" id="s_remark" name="s_remark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tgt">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label" for="dqty">Damage Qty<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="dqty" name="dqty" value="0">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="d_remark">Remarks<span style="color:red">*</span></label>
                                    <textarea cols="50" rows="2" class="form-control" id="d_remark" name="d_remark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <!-- end row -->
                        <div class="col-md-4">
                            <button style="float: right;" class="btn btn-primary" type="submit">Submit</button>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end row -->
                </form>
                <!-- end form -->
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
{% endblock %}
{% block scripts %}
    <script>
        
        $("#purchase").change(function () {
            var puchase = $(this).val();
            $.ajax({
                url: "{% url 'warehouse:ajax_load_godowns' %}",
                data: {
                    'puchase': puchase
                },
                success: function (data) {
                    $("#godown").html(data);
                }
            });
        });

        $("#godown").change(function () {
            var godown = $(this).val();
            var puchase = $("#purchase").val();
            $.ajax({
                url: "{% url 'warehouse:ajax_load_products' %}",
                data: {
                    'godown': godown,
                    'purchase': puchase
                },
                success: function (data) {
                    $("#products").html(data);
                }
            });
        });

        $("#products").change(function () {
            var godown = $("#godown").val();
            var product = $(this).val();
            var puchase = $("#purchase").val();
            $.ajax({
                url: "{% url 'warehouse:ajax_load_qty' %}",
                data: {
                    'product': product,
                    'godown': godown,
                    'purchase': puchase
                },
                success: function (data) {
                    $("#quantity").val(data);
                }
            });
        });
    </script>
{% endblock scripts %}
