{% extends 'base.html' %}
{% load static %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Company: View</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Masters </li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'company:home' %}">Company</a></li>
                        <!-- <li class="breadcrumb-item" aria-current="page"><a href="{% url 'company:company' %}">Company List</a>
                        </li> -->
                        <li class="breadcrumb-item active text-primary" aria-current="page">View Company</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th width="5">#</th>
                            <th width="100">Name</th>
                            <th width="3%"></th>
                            <th width="3%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for so in company %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ so.name }}</td>
                                <td>
                                    <a href="{% url 'company:edit_company' so.pk %}">
                                        <button type="button" class="btn btn-success btn-sm btn-icon">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'company:show_company' so.pk %}">
                                        <button type="button" class="btn btn-primary btn-sm btn-icon" >
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <!-- end tbody-->
                </table>
                <!-- end table-->
            </div>
            <!-- end table responsive -->
        </div>
        <!-- end card body -->
    </div>
</div>
{% endblock %}