{% extends 'base.html' %}
{% load static %}{% load perms %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Bill of Material(BOM)</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item">Tansactions</li>
                        <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'production:production' %}">Production</a> </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page"> <a href="">BOM</a> </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container col-xxl-12 col-xl-12 mt-3">
    <div class="card">
        <div class="card-header justify-content-between d-flex align-items-center">
            <h4 class="card-title">Product Boms</h4>
            <form method='GET' action='{% url "planning:bom" %}'>
                <div class="d-flex flex-row justify-content-between">
                    <div class="mx-1">
                        <input class="form-control" type="text" name="q" autocomplete="off" placeholder="Search">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <a href="{% url 'planning:add_bom' %}">
                <button type="button" class="btn btn-success"> <i class="uil uil-ban">Create</i> </button>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th width="50">#</th>
                            <th>Product</th>
                            <th>Bom</th>
                            <th>Description</th>
                            <th>Last Production Date</th>
                            <th style="width: 3%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in boms %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ i.product }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.description }}</td>
                            <td>{{ i.last_date }}</td>
                            <td> <a type="button" class="btn btn-success btn-sm btn-icon" href="{% url 'planning:edit_bom' i.pk %}"> <i class="fas fa-edit"></i> </a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                    {% load proper_paginate %}
                    {% load url_replace %}
                    <nav aria-label="Page navigation example" class="mt-3">
                        <ul class="pagination">
                            {% if page_obj.number == 1 %}
                            <li class="disabled page-item">
                                <span class="page-link">First</span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace request 'page' 1 %}">First</a>
                            </li>
                            {% endif %}
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="disabled page-item">
                                <span class="page-link">&laquo;</span>
                            </li>
                            {% endif %}
                            {% for i in paginator|proper_paginate:page_obj.number %}
                            {% if page_obj.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                            {% endif %}
                            {% if page_obj.number == paginator.num_pages %}
                            <li class="page-item disabled">
                                <span class="page-link">Last</span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?{% url_replace request 'page' paginator.num_pages %}">Last</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}