{% extends 'base.html' %}
{% load static %}{% load perms %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Production: Create</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Transactions </li>
                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'production:production' %}">Production</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'production:consumption' %}">Production</a></li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Create Production</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="mb-0"><span class="fw-bold">Production: </span>{{no}}</h4>
                <div class="page-title-right">
                    <h4><span class="fw-bold">Date: </span>{{date|date:'d-m-Y'}}</h4>
                </div>
            </div>
            <div class="card-body">
                <form class="needs-validation" id="soform" action="{% url 'production:addconsumption' %}" method="POST" onsubmit="return validate()">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="jobcard">Job Cards<span style="color:red">*</span></label>
                                <select class="form-control" id="jobcard" name="jobcard" required>
                                    <option value="">select</option>
                                    {% for i in jobs %}
                                    <option value="{{ i.id }}">{{ i.no }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="pqty">JobCard Quantity</label>
                                <input class="form-control" id="pqty" readonly autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="pqty">Production Quantity</label>
                                <input class="form-control" min="1"  id="qty" name="qty" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th width="10">#</th>
                                    <th>Product</th>
                                    <th>Product Name</th>
                                    <th>Available Qty</th>
                                    <th>Qty</th>
                                    <th width="50"> </th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <datalist id="items">
                                    {% for item in products %}<option value="{{ item.product }}">{{ item.product }}</option>{% endfor %}
                                </datalist>
                                <tr>
                                    <th width="5%"; scope="row" class="datarow">
                                        1
                                    </th>
                                    <td width="15%"; >
                                        <input type="text" list="items" class="form-control" name="pcode" id="item_1" required />
                                    </td>
                                    <td width="auto";>
                                        <input type="text" class="form-control" id="name_of_item_1" readonly>
                                    </td>
                                    <td width="15%";>
                                        <input class="form-control text-right" type="text" id="aqty_1" readonly>
                                    </td>
                                    <td width="15%";>
                                        <input class="form-control text-right" type="number" name="rmqty" id="qty_1" required>
                                    </td>
                                    <td width="5%"; class="align-middle text-center">
                                        <button type="button" 
                                            class="btn btn-danger btn-sm btn-icon" hx-get="{% url 'dash:clear' %}"
                                            hx-swap="outerHTML" hx-target="closest tr">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%"; class="align-middle pt-3">
                                        <button type="button" 
                                            class="btn btn-success btn-sm btn-icon"
                                            hx-get="{% url 'production:consumption-item' %}" hx-swap="outerHTML"
                                            hx-target="closest tr" hx-vals='{"no": "1"}'>
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <button style="float: right;" id="btnsubmit" class="btn btn-primary" type="submit" >
                                Submit
                            </button>
                        </div>
                </form>
                <!-- end form -->
            </div>
                    <!-- end card body -->
        </div>
        <div class="container col-xxl-12 col-xl-12 mt-3">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">RM Indent</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mb-0" id="table">
                            <thead class="table-light">
                                <tr>
                                    <th>#</th>
                                    <th>FM Product</th>
                                    <th>Bom</th>
                                    <th>RM Product</th>
                                    <th>Quantity</th>
                                    <th>Shortfall</th>
                                    <th>RM Description</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <input class="d-none" type="text" id="shortfall"/>
                    </div>
                    <!-- end table responsive -->
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}
{% block scripts %}
<script>

    $("#btnsubmit").click(function(event) {

        event.preventDefault();
        if (($("#qty").val() | 0) <=0 ){
            window.alert("Please add Production Quantity");
            return false;
        }
        if ($("#shortfall").val() === 'True'){
            window.alert("There is a shortfall in RM");
            return false;
        }
        $("#soform").submit();
    });

    $("#jobcard").change(function () {
        var job = $(this).val();
        $.ajax({
            url: "{% url 'production:ajax_load_jobqty' %}",
            data: {
                'job': job,
            },
            success: function (data) {
                $("#pqty").val(data);
            }
        });
    });
    $("#qty").change(function () {
        var qty = $(this).val();
        var job = $("#jobcard").val();

        var aqty = parseFloat($("#pqty").val() || 0);
        if (qty > aqty) {
            $("#qty").val('')
            alert("Production Qty Cannot be more than Jobacard qty");
            $("#table tbody").remove();
            return false;
        }

        $.ajax({
            url: "{% url 'production:ajax_load_consumption' %}",
            data: {
                'job': job,
                'qty':qty
            },
            success: function (data) {
                data=data.split("~");
                var table = $("#table")
                $("#table tbody").remove();
                var tbody = document.createElement('tbody');
                table.append(tbody);
                for(i=0;i<data.length-1;i++)
                {
                    var item = data[i].split("|");
                    row = $(tbody.insertRow(-1));

                    for(j=0;j<item.length;j++){
                        var cell = $("<td />");
                        cell.append(item[j]);
                        row.append(cell);
                    }
	    		}
                $("#shortfall").val(data.pop());

            }
        });
    });

    $("table").on("change", "input, select", e);

function e() {
    
    var no = e.arguments[0].target.id.split('_').pop()
    if ("item" === e.arguments[0].target.id.split('_')[0]) {
        var item = $("#item_" + no + "").val();
        $.ajax({
            url: "{% url 'production:load_item' %}",
            data: {
                'item': item
            },
            success: function (data) {
                console.log(data['stock']);
                $("#name_of_item_" + no + "").val(data['product']);
                $("#aqty_" + no + "").val(data['stock']);
            }
        });
    }
    var qty = parseFloat($("#qty_" + no + "").val() || 0);
    var aqty = parseFloat($("#aqty_" + no + "").val() || 0);
    if (qty > aqty) {
        $("#qty_" + no + "").val('')
        alert("Qty Cannot be more than Available qty");
    }
}  
</script>

{% endblock scripts %}