{% extends 'base.html' %}
{% load static %}{% load perms %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Consumables Indent: Create</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Transactions </li>
                        <li class="breadcrumb-item" aria-current="page"><a
                                href="{% url 'production:production' %}">Production</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a
                                href="{% url 'production:consumables' %}">Consumables Indent</li></a>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Consumables Indent</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="mb-0"><span class="fw-bold">Consumables Indent: </span>{{no}}</h4>
                <div class="page-title-right">
                    <h4><span class="fw-bold">Date: </span>{{date|date:'d-m-Y'}}</h4>
                </div>
            </div>
            <div class="card-body">
                <form class="needs-validation" action="{% url 'production:add_consumables' %}" method="POST" onsubmit="return validate()">
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table mb-0" id="table">
                            <thead class="table-light">
                                <tr>
                                    <th width="10">#</th>
                                    <th>Product</th>
                                    <th>Product Name</th>
                                    <th>Godown</th>
                                    <th>Available Qty</th>
                                    <th>Qty</th>
                                    <th>Converted Qty</th>
                                    <th width="50"> </th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <datalist id="items">
                                    {% for item in products %}<option value="{{ item.product_code }}"> {{ item.product_code }}</option>{% endfor %}
                                </datalist>
                                <tr>
                                    <th width="5%"; scope="row" class="datarow">
                                        1
                                    </th>
                                    <td width="10%";>
                                        <input type="text" list="items" class="form-control" name="pcode" id="item_1" required />
                                    </td>
                                    <td width=:auto;>
                                        <input type="text" class="form-control" id="name_of_item_1" name="name_of_item" readonly>
                                    </td>
                                    <td width="10%";>
                                        <select class="form-control" id="gd_1" name="godown" required>
                                            <option value="">
                                                Select
                                            </option>
                                        </select>
                                    </td>
                                    <td width="10%";>
                                        <input class="form-control text-right" type="text" name="aqty" id="aqty_1" readonly>
                                    </td>
                                    <td width="10%";>
                                        <input class="form-control text-right" type="number" name="qty" id="qty_1" required>
                                    </td>
                                    <td width="15%";>
                                        <input class="form-control text-right" type="number" name="cqty" id="cqty_1" required>
                                    </td>
                                    <td width="5%"; class="align-middle text-center">
                                        <button type="button"
                                            class="btn btn-danger btn-sm btn-icon" hx-get="{% url 'dash:clear' %}"
                                            hx-swap="outerHTML" hx-target="closest tr">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle pt-3">
                                        <button type="button" 
                                            class="btn btn-success btn-sm btn-icon"
                                            hx-get="{% url 'production:consumable-item' %}" hx-swap="outerHTML"
                                            hx-target="closest tr" hx-vals='{"no": "1"}'>
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="row mt-3 col-md-6 d-flex align-items-center justify-content-center">
                            <label class="col-md-3 mb-0 form-label" for="drawn_by">Withdraw By:<span style="color:red">*</span></label>
                            <select class="col form-control" id="drawn_by" name="drawn_by" required>
                                <option value="">
                                    Select
                                </option>
                                {% for i in users %}
                                <option value="{{i}}">
                                    {{i}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mt-2 col-md-6">
                            <button style="float: right;" class="btn btn-primary" type="submit" > Submit </button>
                        </div>
                    </div>
                </form>
                <!-- end form -->
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
{% endblock content %}
{% block scripts %}
    <script>
        $("table").on("change", "input, select", e);

    function e() {
        
        var no = e.arguments[0].target.id.split('_').pop()
        if ("item" === e.arguments[0].target.id.split('_')[0]) {
            var item = $("#item_" + no + "").val();
            $.ajax({
                url: "{% url 'production:load_godown' %}",
                data: {
                    'item': item
                },
                success: function (data) {
                    data = data.split('~');
                    $("#name_of_item_" + no + "").val(data[0]);
                    $("#gd_" + no + "").html(data[1]);
                }
            });
        }
        if ("gd" === e.arguments[0].target.id.split('_')[0]) {

            var item = $("#item_" + no + "").val();
            var gd = $("#gd_" + no + "").val();
            $.ajax({
                url: "{% url 'production:load_qty' %}",
                data: {
                    'item': item,
                    'gd': gd
                },
                success: function (data) {
                    $("#aqty_" + no + "").val(data);
                }
            });
        }  
        var qty = parseFloat($("#qty_" + no + "").val() || 0);
        var aqty = parseFloat($("#aqty_" + no + "").val() || 0);
        if (qty > aqty) {
            $("#qty_" + no + "").val('')
            alert("Qty Cannot be more than Available qty");
        }
    }  
    </script>
{% endblock scripts %}