{% extends 'base.html' %}
{% load static %}{% load perms %}
{% block extracss %}

{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>RM Indent: Create</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item"> <a href="{% url 'dash:home' %}"><i class="ti ti-home"></i></a> </li>
                        <li class="breadcrumb-item"> Transactions </li>
                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'production:production' %}">Production</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'production:rm-indent' %}">RM Indent</a></li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Create RM Indent</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="mb-0"><span class="fw-bold">RM Indent: </span>{{job}}</h4>
                <div class="page-title-right">
                    <h4><span class="fw-bold">Date: </span>{{date|date:'d-m-Y'}}</h4>
                </div>
            </div>
            <form class="needs-validation" id="soform" action="{% url 'production:add_rmindent' %}" method="POST" onsubmit="return validate()">
                {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="jobcard">Jobcards<span style="color:red">*</span></label>
                            <select class="form-control" id="jobcard" name="jobcard" required>
                                <option value="">select</option>
                                {% for i in jobs %}
                                <option value="{{ i.id }}">{{ i.jobcard }}</option>
                                {% endfor %}
                                <select />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="product">Product</label>
                            <input type="text" class="form-control" id="product" name="product" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="qty">Production Quantity</label>
                            <input type="text" class="form-control" id="qty" name="qty" readonly>
                        </div>
                    </div>
                </div>
            </div>
        <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0" id="table">
                        <thead class="table-light">
                            <tr>
                                <th width="3%">#</th>
                                <th width="8%">FM Product</th>
                                <th width="25%">Bom</th>
                                <th width="8%">RM Product</th>
                                <th width="8%">Required Quantity</th>
                                <th width="5%">Godown</th>
                                <th width="1%"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <button style="float: right;" id="btnsubmit" class="btn btn-primary" type="submit" >
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block scripts %}
<script>

    $("#jobcard").change(function () {
        var job = $(this).val();
        $.ajax({
            url: "{% url 'production:loadrm' %}",
            data: {
                'job': job,
            },
            success: function (data) {
                data=data.split("|");
                $("#product").val(data[0]);
                $("#qty").val(data[1]);
                window.e();
            }
        });
    });

 function e() {
        var qty = $("#qty").val();
        var job = $("#jobcard").val();
        if (parseInt(qty) > parseInt($("#qty").val())){
            window.alert("Production Quantity can not be more than Job Quantity");
            $(this).val('');
            return;
        }
        $.ajax({
            url: "{% url 'production:ajax_load_rmgodown' %}",
            data: {
                'job':job,
                'qty': qty,
            },
            success: function (data) {
                data=data.split("~");
                var table = $("#table")
                $("tbody").remove();
                var tbody = document.createElement('tbody');
                table.append(tbody);
                for(i=0;i<data.length-1;i++)
                {
                    var item = data[i].split("|");
                    row = $(tbody.insertRow(-1));

                    for(j=0;j<item.length-2;j++){
                        var cell = $("<td />");
                        var input = $("<input />").attr('class','form-control').attr('readonly', true);
                        input.val(item[j]);
                        cell.append(input);
                        row.append(cell);
                    }
                        var cell = $("<td />");
                        cell.html(item[5]);
                        row.append(cell);

                        var cell = $("<td />");
                        cell.html(item.pop());
                        row.append(cell);
	    		}
            }
        });
    }

</script>

<script>
    $("#export").on("click" ,function (){
        var table2excel = new Table2Excel();
        table2excel.export(document.querySelectorAll("#table"));
    });
  </script>

{% endblock scripts %}